
<main class="contenedor contenedor-formualrio">
    <h1><%= nombrePagina%></h1>
    <form action="/iniciar-sesion" class="default-form" method="post">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu email">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Tu password">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Iniciar sesión">
        </div>
    </form>
</main>